
.userInfoBlock {
    margin-left: 10px;
    width: 70% ;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 15px;
    padding-left: 10px;
}
.profileInfoButton {
    padding: 4px 15px;
    transition: 0.6s;
    opacity: 45%;
    position: absolute;
    right: 110px;
    bottom: 135px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
}
.profileInfoButton:hover{
    transition: 0.6s;
    opacity: 100%;
}
.lookingForAJobValue {
    font-weight: bold;
}
.profileInfo {
    padding-top: 6px;
}
.userNameField {
    font-size: 19px;
}
mark {
    background: none;
}
.jobDescription {
    font-weight: bold;
}
.followButton {
    margin-top: 10px;
    padding: 5px 13px ;
    border: 2px solid black;
    transition: 0.3s;
    border-radius: 3px;
    cursor: pointer;
}
.followButton:hover {
    background: #c9dadb;
    transition: 0.3s;
}
.linkBlock {
    margin-top: 12px;
}
.link {
    margin-right: 8px;
    cursor: pointer;
}
.disabled {
    display: none;
}