
.userName {
    margin-left: 10px;
    width: 50% ;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 15px;
    padding-left: 10px;
}
.profileInfoButton {
    background-color: #c9dadb;
    padding: 4px 15px;
    border: black 2px solid;
    border-radius: 4px;
    transition: 0.6s;
    opacity: 30%;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}
.profileInfoButton:hover{
    border-radius: 10px;
    transition: 0.6s;
    opacity: 100%;
}
.lookingForAJobValue {
    font-weight: bold;
}
.profileInfo {
    padding-top: 6px;
}
.userNameField {
    font-size: 19px;
}
mark {
    background: none;
}
.jobDescription {
    font-weight: bold;
}