.newMessageField {
    border: 2px solid ;
}
.sendMessageButton {
    padding: 13px 30px;
    margin: 0;
    margin-left: 50px;
    background: peachpuff;
    font-size: 17px;
}
.sendMessageButton:hover {
    background: rosybrown;
    transition: 0.7s;
}
.sendMessageForm {
    margin-left: 50px;
    height: 100px;
    width: 500px;
    resize: none
}
.errorMessage {
    font-size: 13px;
    color: red;
    display: inline;
    position: absolute;
    margin-left: 10%;
}
.errorMessage span {
    margin-left: 20px;
}
.errorIcon {
    width: 15px;
    opacity: 90%;
    position: absolute;
    margin-top: 2px;
}