.BlockItem {
    display: grid;
    grid-template-rows: 8fr;
    grid-template-areas: "item item item item item item item item";
    margin-left: 10px;
}
.item {
    grid-area: item;
}
.blockName {
    font-size: 30px;
    padding-left:35%;
    margin-bottom: 10px;
}
