.postBlock {
    grid-area: postBlock;
}
.postBlock h5   {
    font-size: 25px;
    margin: 20px;
}
.newPostBlock {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
.SendPostButton {
    border: 2px solid black;
    padding: 10px 20px;
    margin-left: 20px;
    background-color: darkslategray;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    transition: 0.3s;
}
.SendPostButton:hover {
    box-shadow: 0 0 5px rgb(47, 79, 79);
    cursor: pointer
}
.SendPostButton:disabled {
    opacity: 70%;
    transition: 0.3s;
}
.newPostField {
    resize: none;
    height: 200px;
    width: 600px;
    border: 2px solid black ;
    padding: 5px;
    margin-left: 20px;
}