.jobQuestion {
    margin-left: 5px;
}
.profileDataForm input {
    border: 1px solid black;
    padding: 2px 5px;
    margin: 1px;
}
.someError {
    outline: 2px solid red;
}
.someErrorMessage {
    color: red;
    font-size: 11px;
    margin-left: 5px;
}
