.jobQuestion {
    margin-left: 5px;
}
.profileDataForm input {
    border: 1px solid black;
    padding: 4px 8px;
    margin: 1px;
    border-radius: 2px;
}
.profileDataForm input::placeholder {
    font-size: 10px;
}
.someError {
    box-shadow: 0 0 10px rgb(255, 0, 0);
    border-radius: 2px;
    -moz-outline-radius: 2px;
}
.someErrorMessage {
    color: red;
    font-size: 11px;
    margin-left: 5px;
}
.textInput {
    width: 200px;
    display: none;
}
.submit {
    padding: 4px 7px;
    margin-top: 4px;
    margin-left: 1px;
    background: #c9dadb;
    border: black solid 1px;
    border-radius: 3px;
    transition: 0.3s;
}
.submit:hover {
    transition: 0.3s;
    background: #ade9f1;
}
.linkWrapper {
    position: absolute;
    right: 130px;
    top: 25px;
    display: flex;

}
.link {
    margin: 5px;
    cursor: pointer;
}

