
.headerBlock {
    background-color: darkslategray;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.logo {
    margin-left: 40px;
    height: 50px;
    vertical-align: middle;
    margin-bottom: 10px;
}
.loginButton {
    text-decoration: none;
    padding: 0 20px 5px 20px;
    font-size: 20px;
    margin-left: 30px;
    background: aliceblue;
    color: black;
    transition: 0.3s;
}
.loginButton:hover {
    background: #c9dadb;
    transition: 0.3s;
}
.headerBlock div {
    margin-right: 40px;
}
.UserProfile{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .3s;
}
.UserProfile:hover{
    background-size: 100% 2px;
}
.logoutButton {
    padding: 3px 15px;
    margin-left: 30px;
    background: aliceblue;
}
.logoutButton:hover {
    background-color: cadetblue;
    transition: 0.5s;
}
.profileAvatar {
    width: 44px;
    position: absolute;
    top: 14px;
    left: 1150px;
    border: 1px solid black;
}
