.container {
    position: fixed;
    width: 235px;
}
.smallContainer {
    position: fixed;
    width: 85px;
}
ul {
    padding-left: 30px;
}
.LiItem {
    list-style: none;
    font-size: 25px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.LiItem:hover {
    background-size: 100% 2px;
}
.item {
    width: 100%;
    color: black;
    text-decoration: none;
}
.item:hover {
    transition: 0.7s;
    color: darkslategray;
}
.itemText {
    position: absolute;
    margin-top: -3px;
}
.LiItem .active {
    color: rgba(0,0,0,0.54)
}
.mainNavIcon{
    width: 30px;
    margin: 20px 0 0 27px;
    transition: 0.3s;
}
.navIcon {
    width: 25px;
    display: inline;
    margin-right: 5px;
}
.menuButton {
    font-size: 30px;
    margin-top: 14px;
    position: absolute;
    margin-left: 10px;
    transition: 0.3s;
}
.menuButtonBlock{
    transition: 0.3s;
    cursor: pointer
}
.menuButtonBlock:hover{
    opacity: 70%;
    transition: 0.3s;
}
