.Item {
    width: 60%;
    background: #c9dadb;
    display: grid;
    grid-template-columns: 1fr 5fr;
    box-shadow: 0 0 6px rgb(0, 0, 0);
    margin: 15px;
    padding-top: 10px;
}
.userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgb(0, 0, 0);
    margin: 10px;
}
.contentWrapper {

}
.name {

}
.postTextWrapper {
    background: #b1bebf;
    width: 80%;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.postText {
    padding: 10px;
}
.Likes {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    width: 10%;
}
.LikeButton {
    border: none;
    background: none;
    font-size: 20px;
    transition: 0.3s;
}
.LikeButton:hover {
    color: red;
    cursor: pointer;
    transition: 0.3s;
}