.title {
    margin-left: 27%;
}
.form {
    width: 45%;
    background: floralwhite;
    margin-left: 100px;
    margin-bottom: 100px;
    padding: 80px 0 70px 0;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 5px 5px 10px black;
}
.itemForm {
    margin: 0 auto;
    width: 60%;
}
.textInput {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}
.checkbox {
    margin: 20px 10px 10px 10px;
    cursor: pointer;
}
.submitButton {
    background: burlywood;
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.submitButton:hover {
    background: chocolate;
    transition: 0.3s;
}
.FormSummaryError {
    border-bottom: 1px solid red;
    color: red;
    display: inline-block;
    margin-left: 120px;
}
.captchaContainer{
    margin-left: 117px;
    margin-top: 10px;
}
.captcha {
    border: black 1px solid;
    display: inline-flex;
}

